@font-face {
  font-family: 'jdzhonyuanjian1182a6e2f41c8f6';
  src: url('//cdn.webfont.youziku.com/webfonts/nomal/116982/19673/5ad87213f629e200f85daa32.gif?r=72528019266');
  src: url('//cdn.webfont.youziku.com/webfonts/nomal/116982/19673/5ad87213f629e200f85daa32.gif?r=72528019266?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/116982/19673/5ad87213f629e200f85daa32.png?r=72528019266') format('woff2'), url('//cdn.webfont.youziku.com/webfonts/nomal/116982/19673/5ad87213f629e200f85daa32.bmp?r=72528019266') format('woff'), url('//cdn.webfont.youziku.com/webfonts/nomal/116982/19673/5ad87213f629e200f85daa32.jpg?r=72528019266') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.css1182a6e2f41c8f6 {
  font-family: 'jdzhonyuanjian1182a6e2f41c8f6';
}
